.character-card {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  width: 40vw;
  height: auto;
  background-color: $secondary-background-color;
  div {
    border-radius: 5px;
    padding: 0 0 0 25px;
    text-align: left;
    width: 50vw;
    .character-button {
      background-color: black;
      color: white;
      width: 40vw;
      font-weight: bold;
      display: inline-block;
      height: 5vh;
    }
  }
}

.star {
  cursor: pointer;
  height: 50px;
  margin: 10px 17px;
}
