.visibleError {
  color: red;
  align-self: center;
}

.invisibleError {
  visibility: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: 20px;
  width: 53vw;
  height: 60vh;
  background-color: $secondary-background-color;
  padding: 2% 12%;
  input,
  select,
  button {
    width: 100%;
    margin-bottom: 5%;
  }
  .login-button {
    width: 100%;
    margin-bottom: 5%;
    height: 5vh;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0%;
  }
  button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0%;
    height: 5vh;
    z-index: 100000000000;
  }
  img {
    height: 30%;
    width: 20%;
  }
}


